server:
  port: 8889

spring:
  application:
    name: GestIO

  datasource:
    url: jdbc:postgresql://localhost:5432/gestdb
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
