<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!-- replacing the head with title -->
<head th:replace="~{_fragments/navbar :: head(~{::title})}">
    <title th:fragment="title">GestIO</title>
</head>
<body>
<main>
    <!-- NAVBAR -->
    <div th:replace="~{_fragments/navbar :: fragments(~{::navbar})}"></div>
    <!-- HERO -->
    <div th:replace="~{_layout/Hero :: layout(~{::Hero})}"></div>
    <!-- CENTERED HERO -->
    <div th:replace="~{_layout/Centered_Hero :: layout(~{::Centered_Hero})}"></div>
    <!-- BORDER HERO -->
    <div th:replace="~{_layout/Border_Hero :: layout(~{::Border_Hero})}"></div>
    <!-- FOOTER -->
    <div th:replace="~{_fragments/Footer :: fragments(~{::Footer})}"></div>
</main>
</body>
</html>